@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background: url(../img/214-2148738_beautiful-smoky-mountain-cover-with-fog-wallpaper-.jpg) center no-repeat;
    background-size: cover;
    color:rgb(209, 179, 9);
    font-size: 4rem;
   
}

*{
    padding: 0;
    margin: 0;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}
footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

}
.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Piazzolla', serif;
}

.news {
    background-color: white;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 40px;
    padding: 6px 15px;
    
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
    font-family: 'Piazzolla', serif;
}

article a:hover {
    color: rgba(65, 65, 235, 0.333);

}

article h2 {
    font-family: 'Piazzolla', serif;
    margin-bottom: 5px;
    
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
    font-family: 'Piazzolla', serif;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article:nth-child(2n) {
    background-color: rgba(177, 189, 201, 0.397);
}

.link1::after {
    content: 'New';
    color: rgba(170, 12, 12, 0.747);
    align-content: right;
    padding-left: 20%;
   
}

.link2::after {
    content: 'New';
    color: rgba(170, 12, 12, 0.747);
    align-content: right;
    padding-left: 15%;
    
    

}

p {
    font-family: 'Piazzolla', serif;
}

.see {
    color: rgba(21, 91, 182, 0.815);
    font-weight: bold;
}